/fastdfsClient/
/jl-cart-web/
/jl-common/
/jl-content/
/jl-item-web/
/jl-manager-web/
/jl-manager/
/jl-order-web/
/jl-order/
/jl-parent/
/jl-portal-web/
/jl-search-web/
/jl-search/
/jl-sso-web/
/jl-sso/
